{{!< default}}

<div class="content-area">
<main class="site-main">

    <div class="post-feed">
        {{#foreach posts}}
        {{!-- Exclude posts tagged #noindex --}}
        {{^has tag="#noindex"}}
            {{> "loop"}}
            {{/has}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>
</div>
